.config/Bitwarden CLI/
.config/Code/
.config/blogsync/
.config/cloudflare/
.config/configstore/
.config/gcloud
.config/gh/hosts.yml
.config/github-copilot
.config/go/
.config/google-chrome-for-testing/
.config/helm/
.config/iterm2
.config/mimeapps.list
.config/ookla/
.config/raycast
.config/tailscale/
.config/wslu/
.gitconfig-work
credentials.json
