# This is Git's per-user configuration file.
# User settings are defined in separate files based on directory location
# Default user configuration (personal)
[user]
	name = karia
	email = karia@side2.net
[push]
	default = simple
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = false

# Override for work projects
[includeIf "gitdir:~/ghq/github.com/tsumikiinc/**/"]
  path = ~/.gitconfig-work
